@import "../../styles/index";

.btn {
  // background: $gradient;
  color: var(--text);
  width: 30px;
  height: 21px;
  border: 2px solid var(--text);
  border-radius: 7px;
  // padding: 2px 4px;
}

.btn__group {
  padding: calc(5px + 5 * (100vw / 1200));
  display: flex;
  align-items: center;
}
