@import "../../styles/index";

.title {
  font-weight: 700;
  color: #000000;

  &__wrapper {
    padding: 35px;
    padding: calc(10px + 25 * (100vw / 1200));
  }
}

.subtitle {
  color: #000000;
  font-weight: 500;
}
